

span {
    background-color: blueviolet;
    background: rgb(245, 213, 145);
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
}

h1 {
    background-color: blueviolet;
    background: rgb(243, 243, 197);
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
}

p {
    background-color: blueviolet;
    background: rgb(96, 223, 235);
    border: 2px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px; 
}